<div class="header">
  <h1>
    <a href="/main" class="no-underline">
      <img id="logo" src="/images/library.png" alt="logo" />
      Księgarnia
      <span class="letter-white">L</span>
      <span class="letter-white">i</span>
      <span class="letter-blueviolet">b</span>
      <span class="letter-blueviolet">r</span>
      <span class="letter-blueviolet">a</span>
      <span class="letter-blueviolet">n</span>
    </a>
  </h1>
  <div class="dropdown-bar">
    <ul>
      <!-- Dropdown na książki -->
      <li class="dropdown">
        <a href="/ksiazki">Książki <b>▸</b></a>
        <div class="dropdown-content">
          <a href="/ksiazki/fantastyka">Fantastyka</a>
          <a href="/ksiazki/historia">Historia</a>
          <a href="/ksiazki/kryminal">Kryminał</a>
          <a href="/ksiazki/religia">Religia</a>
        </div>
      </li>

      <!-- Dropdown na podręczniki -->
      <li class="dropdown">
        <a href="/podreczniki">Podręczniki <b>▸</b></a>
        <div class="dropdown-content">
          <a href="/podreczniki/szkolaPodstawowa">Szkoła podstawowa</a>
          <a href="/podreczniki/technikumLiceum">Technikum/Liceum</a>
          <a href="/podreczniki/matura">Matura</a>
        </div>
      </li>

      <!-- Link do Outleta -->
      <li class="dropdown"><a href="/outlet">Outlet</a></li>

      <!-- Przycisk wyszukiwania -->
      <li class="searchBtn">
        <button aria-expanded="false">
          <span id="searchTxt">Szukaj</span>
          <!-- Ikona wyszukiwania -->
          <svg
            fill="#ffffff"
            height="20px"
            width="20px"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 488.4 488.4"
            xml:space="preserve"
          >
            <path
              d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
              s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
              S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
              S381.9,104.65,381.9,203.25z"
            />
          </svg>
        </button>
      </li>

      <!-- Pasek wyszukiwania -->
      <div class="search-bar">
        <input id="searchInput" type="text" placeholder="Wpisz, czego szukasz..." onkeyup="searchBooks()"/>
      </div>

      <div id="searchResults"></div>

      <!-- Koszyk -->
      <li class="cart"><a href="/cart">Koszyk</a></li>

      <!-- Ikona logowania -->
      <a href="/login"><li class="loginIcon">
        <img src="/images/loginIcon2.png" alt="loginIcon" id="loginIcon" />
      </li></a>
    </ul>
  </div>
</div>
