<!DOCTYPE html>
<html lang="pl">
    <%- include("../partials/head") %>
  <body>
   <h1>Profil</h1>
    <%- include("../partials/header") %>
    <h1>Sklep księgarnia z szerokim wachlarzem kategorii.</h1>
      Możesz razem z nami ratować planetę i wybierać książki <a id="eco-friendly">używane ♻</a>. 

    <%- include("../partials/footer") %>
    

    
  </body>
</html>



